/*  * {
 outline: 1px solid red !important;
} */

html, body{
    height:100%;
    width:100%;
    padding:2;
    margin:0;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    background-color: #98878f;
}

.header-logo {
    max-width: 100px;
}

.title{
    font-weight: 400;
    font-size: 25px;
}

#map {
    height: 100%;
    position: absolute;
    right: 0px;
}

#pano {
    width: 200px;
    height: 200px;
}

.container {
    margin: 10px;
}

.form-control {
    background: #fff;
}

.iw_attribute_name {
    font-weight: bold;
}

#location {
    cursor: pointer;
}

#iw-name{
    text-align: center;
}