/* * {
  outline: 1px solid red !important;
}
 */
body {
    font-family: "Quicksand", sans-serif;
    /* color: #f08080; */
    font-weight: 400;
}

body {
    background-color: #98878f;
}


.header-logo {
    max-width: 100px;
}

.title{
    font-weight: 400;
    font-size: 20px;
}

#map {
    height: 100%;
    position: absolute;
    right: 0px;
}

#pano {
    width: 200px;
    height: 200px;
}

.locations {
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    margin: 10px;
}

.container {
    margin: 10px;
}

.form-control {
    background: #fff;
}

#resultsTable {
    background: #fff;
}

#wikipedia-links {

}

