/*  * {
 outline: 1px solid red !important;
} */
html, body, .container-fluid, .row, .map {
    height: 100%;
}

body {
    padding-top: 65px;
}

html, body{
    width:100%;
    margin:0;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    background-color: #98878f;
}

.logo {
    max-width: 50px;
}

.title{
    font-weight: 400;
    font-size: 25px;
}

#map {
    width:100%;
    height: 100%;
}

.form-control {
    background: #fff;
}

.attribute_name {
    font-weight: bold;
    vertical-align: top
}

#location {
    cursor: pointer;
}

#name {
    text-align: center;
}

#sidebar {
    padding-left: 20px;
}

.container {
    margin-left: 0;
}

/* collapsed sidebar styles */
@media screen and (max-width: 765px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
            left: -41.6%;
    }
    .row-offcanvas-left.active {
        left: 43%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
}




